@import url('https://fonts.google.com/specimen/Work+Sans');

body {
    font-family: 'Work Sans', sans-serif;
}

#mainCont {
    padding: 0px;
}

.carousel__Img {
    width: 100%;
    height: 760px;
    object-fit: cover;
    position: relative;
}

.header {
    position: absolute;
    top: 20px;
    z-index: 999;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media(min-width:768px) {
    .header .container-fluid {
        direction: rtl;
    }
}

.navbar {
    background: #FFFFFF;
    height: 101px;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    direction: ltr;
}

.default_Btn {
    color: #221F20;
    background: #FFFCFA;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    border-radius: 2px;
    padding: 10px 20px;
    direction: ltr;
}

.navbar-collapse {
    direction: ltr;
}

.nav-list a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19.6px;
}

.content-carousel {
    position: absolute;
    top: 30%;

    h1 {
        color: whitesmoke;
    }
}

.content-carousel span {
    width: 234px;
    height: 24px;
    color: #EEF4F9;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.content-carousel h1 {
    margin-top: 20px;
    width: 540px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #EEF4F9;
    text-transform: capitalize;
}

.content__slides {
    position: absolute;
    bottom: 5%;
}

.Image__slide {
    --b: 3px;
    --c: #0000 25%, white 0;
    --d: #0000 25%, #00008b00 0;
    padding: 22px;
    background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0, conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--d)) 100% 100%;
    background-size: 60px 51px;
    background-repeat: no-repeat;
    background-color: rgb(0 0 0 / 30%);
    border: 1px solid #eef4f938;
    transition: .6s;
    box-sizing: border-box;
    cursor: pointer;
    width: 130px;
    height: 130px;

}

.Image__slide:hover {
    background-size: 51% 51%;
}

.img-container {
    position: relative;
    text-align: center;
    background: transparent;
    border: transparent;
    min-width: 150px;
    float: left;
}

.numberItem {
    float: right;
    margin-top: 20%;
    display: flex;
    color: #EEF4F9;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: #EEF4F9;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    line-height: 17.6px
}

.progress {
    width: 98px;
    margin: 10px 10px;
    height: 3px;
    border-radius: 6px;
    --bs-progress-bar-bg: #62777e;
}